[submodule "pixelc-kernel-scripts"]
	path = pixelc-kernel-scripts
	url = https://github.com/pixelc-linux/pixelc-kernel-scripts.git
[submodule "pixelc-mkinitramfs.sh"]
	path = pixelc-mkinitramfs.sh
	url = https://github.com/pixelc-linux/pixelc-mkinitramfs.sh.git
[submodule "pixelc-freebsd-scripts"]
	path = pixelc-freebsd-scripts
	url = https://github.com/pixelc-linux/pixelc-freebsd-scripts.git
[submodule "pixelc-get_firmware.sh"]
	path = pixelc-get_firmware.sh
	url = https://github.com/pixelc-linux/pixelc-get_firmware.sh.git
